
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local

/public/uploads/*
!public/uploads/.gitkeep

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/vendor/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.project
/.buildpath
/.settings/
/.idea/
