{% extends 'layouts/base.twig' %}
{% block title %}Test App{% endblock %}

{% block body %}
<h2>Index page</h2>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

/*

$(document).ready(function(){
	$("#show_modal").click(function(){
		alert("Show modal");
	});
});

*/

</script>
{% endblock %}